@charset "UTF-8";

body { 
     backgorund:#E9E9E9;
	 

}


#formWrap {
	width:720px;
	margin-top:30px;
	margin-left:30px;
	background: #FFF;
	border:1px solid #F1F1F1;
	-moz-border-radius:20px;
	-moz-box-shadow:2px 2px 5px #999;
	-webkit-border-radius:20px;
	-webkit-box-shadow:2px 2px 5px #999;
	padding:16px 10px 40px;
	
}

#formWrap #form {
	border-top:1px solid #EEE;
	width:720px;
	
}

#form .row {
	border-bottom:1px dotted #EEE;
	display:block;
	line-height:38px;
	overflow:auto;
	padding:24px 0px;
	width: 100%;
	
}


#form .row .label {
	font-size:16px;
	font-weight:bold;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	width:180px;
	text-align:right;
	float:left;
	padding-right:10px;
	margin-right:10px;
	
}


#form .row .input {
	float:left;
	margin-right:10px;
	width:auto;
	
}


.detail { 
     width: 260px;
	 font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	 font-size:20px;
	 padding: 7px;
	 margin:0;
	 
}

.mess { 
      width:450px;
	  max-width:450;
	  height:280px;
	  overflow: auto;
	  font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	  font-size: 20px;
	  padding: 7px 8px;
	  line-height: 1em;
	  margin:0;
	  
	  
	  



#form .row .context {
	color:#999;
	font-size: 11px;
	font-style: italic;
	line-height: 14px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	width:200px;
	float:left;
	
}


#form #submit {
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-top:25px;
	margin-left:200px;
	color:#000;
	font-size:16px;
	text-shadow:1px 1px 1px #999;
	padding:10px;
	
	
}
